@model IEnumerable<Entity.AttributesType>

@{
    ViewBag.Title = "Index";
    List<SelectListItem> li = new List<SelectListItem>();
    li.Add(new SelectListItem() { Text = "vle", Value = "14" });
    li.Add(new SelectListItem() { Text = "vahram", Value = "20" });
    li.Add(new SelectListItem() { Text = "Karen", Value = "30" });
    li.Add(new SelectListItem() { Text = "Gurgen", Value = "50" });

}
@using (Html.BeginForm())
{
    @Html.DropDownList("AttributeType",li," fd", new { @class ="form-control"})
}


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AttributeType)
        </th>
        <th></th>
    </tr>
    @Html.DropDownList("AAA",li,"select")*@

@*@Html.DropDownList("select", ViewBag.AttributeList as SelectList,"select Attribute Type")*@ 


       
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}*@


