@model Entity.Book

@{
    Layout = null;
}
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
@*<div id="gridContent" style="width:600px; height:400px; background-color:#FFFCB5; margin-left:37px; float:left ;margin-top:10px;">*@

    <div class="row">
        <div class="col-lg-3">

          
                <img class="btnImg" style="margin-top: 24px ! important;margin:15px;" src="~/Picture/@Model.PictureName" width="100" height="150" />
         
            <div class="price" style="background-color:chartreuse; width:80px;font-size:20px;margin-left:23px;">
                @{
                    var pr = Convert.ToDecimal(@Model.Price);
                    var pr1 = pr.ToString("C2");

                }
                @pr1
            </div>
        </div>
        <div class="col-lg-9 my-class">

            <h3 > <font style="font-style:oblique">@Model.BookName</font></h3>
            <div>
                <h4>Desckription</h4>
                @if (Model.Description != null)
                {
                    if (Model.Description.Length > 350)
                    {
                        var str = String.Concat(Model.Description.Substring(0, 350), "...");
                        <p>@str</p>
                    }
                    else
                    {
                        <p>@Model.Description</p>
                    }
                }
                else
                {
                    <p> No Description</p>
                }
            </div>

        </div>
    </div>
    <div>
        <h4 class="authorh4">Author:</h4>
        @Model.Author.FirstName
        <h4  class= "Pagerh4">Pager:</h4>
        @Model.PageCount
    </div>
    <div>
        <h4 class="countryh4" ">Country:</h4>
        @Model.Country.CountryName
        <h4 class="publishdh4">Published:</h4>
        @{ 
            var d = @Model.PublishDate.ToString().Substring(0, 10);

        }
    </div>
    <div class="row" style="float:right;margin-right:15px;">
       

    </div>



       