@model BooksCatalogue.Models.MyAttribute

@{
    ViewBag.Title = "Delete";
}
<p style="font-size: 20px;">Are you sure you want to delete this?</p>
<div>

    <hr />
    <dl class="dl-horizontal">


      
        <dt>
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttributeTextXmlName.Name)
        </dd>

        <dt>
            @Html.DisplayName("Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttributesType.AttributeType)
        </dd>
        <dt>
            @Html.DisplayName("Max")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttributeTextXmlName.MaxCharacterCount)
        </dd>

        <dt>
            @Html.DisplayName("Min")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttributeTextXmlName.MinCharacterCount)
        </dd>
    </dl>


</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" />
    </div>
}