@model BooksCatalogue.Models.AttributeXMLTextValueModel
@{
    ViewBag.Title = "EditAttributeValue";
}



@using (Html.BeginForm("EditAttributeValue", "Attribute", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group " style="margin-top">
            @Html.Label("Value:", htmlAttributes: new { @class = "control-label col-md-2", style = "margin-top:70px;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control", style = "margin-top:70px;margin-left: -117px" } })
                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10"style="">
                <input type="submit" value="Save" class="btn btn-default" style="margin-top:25px;" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AttributeAddTextValue")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
