@model BooksCatalogue.Models.Error
@{
    ViewBag.Title = "Error";
}

@if (Model.Name == "CreateAttribute")

{
    <div style="margin-top:60px;">
        <p> @Model.Messag</p>
    </div>
    <div class="form-actions no-color">
        <a href="@Url.Action("Create", "Attribute")" id="Table" class="btn btn-default btn-sm">
            Back to
        </a>
</div>
}

@if (Model.Name == "emptyFild")

{
    <div style="margin-top:60px;">
        <p> @Model.Messag</p>
    </div>
    <div class="form-actions no-color">
        <a href="@Url.Action("Create", "Attribute")" id="Table" class="btn btn-default btn-sm">
            Back to
        </a>
    </div>
}
@if (Model.Name == "AttributeValueValidation")

{
    <div style="margin-top:60px;">
        <p> @Model.Messag</p>
    </div>
    <div class="form-actions no-color">
        <a href="@Url.Action("Create", "Attribute")" id="Table" class="btn btn-default btn-sm">
            Back to
        </a>
    </div>
}

@*else
{
<p style = "margin-top:60px;"> @Model.Messag </p>
 <div class="form-actions no-color">
    @Html.ActionLink("Back to List", "Index")
</div>
}*@