

@model IEnumerable<BooksCatalogue.Models.MyAttribute>
@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<div class="navbar navbar-inverse"   style="background-color:#FFFCB5; margin-top:60px;margin-bottom:-50px;">
<a href="@Url.Action("Create", "Attribute")" id="grid" class="btn btn-default btn-sm " style="font-size: 17px; height:38px; margin-bottom:-8px;background-color: #D6BBA0;margin-left:4px">
    <span class="glyphicon glyphicon-plus-sign"></span>Attribute
</a>
</div>


<table class="table" id="myTable" >
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Type")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AttributName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttributesType.AttributeType)
                </td>
               
                <td>
                 
                    <a href="@Url.Action("Edit", "Attribute",new { id = item.ID })" id="Table" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="@Url.Action("Delete", "Attribute", new { id = item.ID })"id="Table" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-remove"></i></a>
                     <a href="@Url.Action("AddAttributeValue", "Attribute",new { id = item.ID })" id="Table" class="btn btn-default btn-sm" style="background-color:#D6BBA0;"> <span class="glyphicon glyphicon-plus-sign">
</span>Value </a>
                  
                </td>
            </tr>
        }
    </tbody>

</table>


@section scripts
{
    <script type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Categoria/Categoria.js"></script>
}






