

@model IEnumerable<BooksCatalogue.Models.MyAttribute>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Type")
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AttributName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttributesType.AttributeType)
                </td>
               
                <td>
                    @if (User.Identity.IsAuthenticated == true)
                    {

                        <a href="#myModal" class="btnAuthorEditor btn-link btn-info" data-toggle="modal" data-id="@item.ID"><i class="glyphicon glyphicon-pencil"></i></a>
                    }
                    <a href="#myModal" class="btnAuthorDetails btn-link btn-info" data-toggle="modal" data-id="@item.ID"><i class="glyphicon glyphicon-eye-open"></i></a>

                    @if (User.Identity.IsAuthenticated == true)
                    {
                        <a href="#myModal" class="btnAuthorDelete btn-link btn-info" data-toggle="modal" data-id="@item.ID"><i class="glyphicon glyphicon-remove"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>


@section scripts
{
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Categoria/Categoria.js"></script>
}






